html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.switch-enter {
  opacity: 0.01;
}

.switch-enter.switch-enter-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.switch-leave {
  opacity: 1;
}

.switch-leave.switch-leave-active {
  opacity: 0.01;
  transition: opacity 2s ease-in;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  zoom:1;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
