.editor {
  max-width: 500px;
  border: 1px solid #ccc;
  margin: 20px auto;

  &-menu-container {
    border-bottom: 1px solid #ccc;
  }

  &-content-container {
    height: 200px;
    position: relative;
  }

  &-pannel, &-textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.6rem;
  }

  &-pannel {
    overflow-y: auto;
  }

  &-textarea {
    display: none;
  }
}

.menu {
  &-group {
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 4px;
  }

  &-item {
    display: inline-block;
    color: #585858;
    padding: 3px 5px;

    &.active {
      color: #5a7ff7;
    }
  }
}