@font-face {
  font-family: 'iconfont';  /* project id 408972 */
  src: url('//at.alicdn.com/t/font_408972_8663gbpfgtd42t9.eot');
  src: url('//at.alicdn.com/t/font_408972_8663gbpfgtd42t9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_408972_8663gbpfgtd42t9.woff') format('woff'),
  url('//at.alicdn.com/t/font_408972_8663gbpfgtd42t9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_408972_8663gbpfgtd42t9.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

  &.icon-yinyong:before { content: "\e620"; }
  
  &.icon-icon:before { content: "\e60b"; }
  
  &.icon-wenzibeijingse:before { content: "\e70f"; }
  
  &.icon-xiahuaxian:before { content: "\e7ce"; }
  
  &.icon-cuti1:before { content: "\e6c7"; }
  
  &.icon-xieti:before { content: "\e703"; }
  
  &.icon-shanchuxian:before { content: "\e6d4"; }
  
  &.icon-biaoti:before { content: "\e601"; }
  
  &.icon-wenziyanse:before { content: "\e608"; }  
}