.editor {
  max-width: 500px;
  border: 1px solid #ccc;
  margin: 20px auto;

  &-menu-container {
    border-bottom: 1px solid #ccc;
  }

  &-content-container {
    height: 200px;
    position: relative;
  }

  &-pannel, &-textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.6rem;
  }

  &-pannel {
    overflow-y: auto;

    blockquote {
      margin: 5px 10px;
      border-left: 4px solid #151515;
      padding: 10px;
      background-color: #ccc;
    }
  }

  &-textarea {
    display: none;
    resize: none;
  }

}

.menu {
  &-group {
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 4px;
  }

  &-item {
    display: inline-block;
    color: #585858;
    padding: 3px 5px;

    &.active {
      color: #5a7ff7;
    }
    
    &:hover {
      .menu-item__drop {
        display: block;
      }
    }
  }

  &-item__drop {
    position: absolute;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    margin: 4px 0 0 -1rem;
    color: #000;
    z-index: 1;
    background-color: #fff;
    display: none;

    li {
      margin: .5rem 0;
    }
  }
}
